@model abcAPI.Models.ViewModels.ContractViewModel
@using abcAPI.Models.DTOs
@using abcAPI.Models.TableModels
@using Microsoft.AspNetCore.Identity
@using Microsoft.AspNetCore.Mvc.TagHelpers
@inject UserManager<User> UserManager

@{
    ViewData["Title"] = "Contracts";
    var isAdmin = UserManager.GetRolesAsync(UserManager.GetUserAsync(User).Result).Result.Contains("Admin");
}

<main class="container mt-4">
    <h1>Contracts Management</h1>
    <table class="table table-striped">
        <thead>
        <tr>
            <th>Customer Id</th>
            <th>Software Id</th>
            <th>StartDate</th>
            <th>EndDate</th>
            <th>Price</th>
            <th>IsPaid</th>
            <th>IsSigned</th>
            <th>Version</th>
            <th>AdditionalSupportYears</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        @foreach (GetContractDto contractDto in Model.Contracts)
        {
            <tr>
                <td>@contractDto.CustomerId</td>
                <td>@contractDto.SoftwareId</td>
                <td>@contractDto.StartDate</td>
                <td>@contractDto.EndDate</td>
                <td>@contractDto.Price</td>
                <td>@contractDto.IsPaid</td>
                <td>@contractDto.IsSigned</td>
                <td>@contractDto.Version</td>
                <td>@contractDto.AdditionalSupportYears</td>
                <td>
                    @if (!contractDto.IsPaid)
                    {
                        <form asp-controller="Contract" asp-action="PayForContract" method="post" class="d-inline">
                            <input type="hidden" name="contractId" value="@contractDto.Id"/>
                            <input type="hidden" name="Amount" value="@contractDto.Price"/>
                            <button type="submit" class="btn btn-outline-primary">Pay</button>
                        </form>
                    }
                    @if (!contractDto.IsSigned)
                    {
                        <form asp-controller="Contract" asp-action="SignContract" method="post" class="d-inline">
                            <input type="hidden" name="contractId" value="@contractDto.Id"/>
                            <button type="submit" class="btn btn-outline-primary">Sign</button>
                        </form>
                    }
                    <form asp-controller="Contract" asp-action="DeleteContract" method="post" class="d-inline">
                        <input type="hidden" name="contractId" value="@contractDto.Id"/>
                        <button type="submit" class="btn btn-outline-danger">Delete</button>
                    </form>
                </td>
            </tr>
        }

        <tr>
            <form asp-controller="Contract" asp-action="CreateContract" method="post">
                <td>
                    <input type="text" name="Customer id" class="form-control" placeholder=" Customer" required/>
                </td>
                <td>
                    <input type="text" name="Software id" class="form-control" placeholder="Description" required/>
                </td>
                <td>
                    <input type="date" name="StartDate" class="form-control" placeholder="StartDate" required/>
                </td>
                <td>
                    <input type="date" name="EndDate" class="form-control" placeholder="EndDate" required/>
                </td>
                <td>
                    <input type="text" name="Price" class="form-control" placeholder="Base Price" required/>
                </td>

                <td>
                    <input type="text" name="IsPaid" class="form-control" placeholder="IsPaid" required/>
                </td>

                <td>
                    <input type="text" name="IsSigned" class="form-control" placeholder="IsSigned" required/>
                </td>

                <td>
                    <input type="text" name="Version" class="form-control" placeholder="Version" required/>
                </td>

                <td>
                    <input type="text" name="AdditionalSupportYears" class="form-control" placeholder="AdditionalSupportYears" required/>
                </td>


                <td>
                    <button type="submit" class="btn btn-success">Create Contract</button>
                </td>
            </form>
        </tr>

        </tbody>
    </table>
</main>