@model abcAPI.Models.ViewModels.ClientViewModel

@{
    ViewData["Title"] = "Individual Clients";
}

<main class="container mt-4">
    <h1>Individual Client Management</h1>
    <table class="table table-striped">
        <thead>
        <tr>
            <th>Nickname</th>
            <th>Email</th>
            <th>Phone Number</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Pesel</th>
        </tr>
        </thead>
        <tbody>
        @foreach (ClientIndividual client in Model.IndividualClients)
        {
            <tr>
                <td>@client.Email</td>
                <td>@client.PhoneNumber</td>
                <td>@client.FirstName</td>
                <td>@client.LastName</td>
                <td>@client.Pesel</td>
            </tr>
        }
        </tbody>
    </table>
</main>